.customBtn {
  width: 65%;
  height: 10%;
  /* width: 160px;
  height: 40px; */
  right: 10%;
  top: 0%;
  /* right: 50px;
  top: 10px; */
  font-size: 30px;
  background: white;
  position: absolute;
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
}

.cartBtn {
  width: 20%;
  height: 15%;
  z-index: 1;
  /* width: 56px;
  height: 56px; */
  /* right: 50px;
  top: 520px; */
  right: 10%;
  bottom: 50px;
  font-size: 35px;
  color: #101f2d;
  background-color: #fbfbfb;
  position: absolute;
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
